@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font: normal 20px arial;
    background-color: rgb(255, 255, 255);
}

header {
    color: black;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.279);
}

footer {
    color: gray;
    text-align: center;
}

